* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
